{% extends "proxy/base.html" %}

{% block content %}
<table class="gopher">
<tbody>
{% for item in content %}
    {% if item.url and not item.is_query %}<tr class="selectable">{% else %}<tr>{% endif %}
    {% if item.url.gopher_plus_string %}
      <td class="info-link"><a href="{{ item.url.get_info_proxy_url() }}">[+]</a></td>
    {% else %}
      <td class="info-link empty"></td>
    {% endif %}
    <td class="type-description">{% if item.icon %}<img src="{{ item.icon.url }}" alt="{{ item.icon.display }}" title="{{ item.icon.short_name }}">{% endif %}</td>
    {% if item.is_query %}
        <td class="query-form">
          <i>{{ item.item_text }}</i><br>
          <form method="get" action="{{ item.url.get_proxy_url() }}" class="input-line">
              <input title="{{ item.item_text }}" name="q" autocomplete="off">
              <input type="submit" value="Submit">
          </form>
        </td>
    {% elif item.url %}
        <td class="display"><a href="{{ item.url.get_proxy_url() }}">{{ item.item_text }}</a>{% if item.url.get_external_indicator() %} <span>({{ item.url.get_external_indicator() }})</span>{% endif %}</td>
    {% else %}
        <td class="display">{{ item.item_text or " "}}</td>
    {% endif %}
    <td class="mimetype">{{ item.mimetype or "" }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
