{% extends "proxy/base.html" %}

{% block extrahead %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/aframe/1.4.2/aframe.min.js"></script>
<style>
  body {
      max-width: none;
  }
  .scene {
      height: 600px;
      width: 100%;
  }
</style>
<script>
    AFRAME.registerComponent('link-obj', {
        schema: {
            url: {default: '#'},
            selectedColor: {default: '#777777'}
        },

        init: function () {
            var data = this.data;
            var el = this.el;

            var color = el.getAttribute('material').color ;

            el.addEventListener('mouseenter', function () {
                el.setAttribute('material', 'color', data.selectedColor);
            });

            el.addEventListener('mouseleave', function () {
                el.setAttribute('material', 'color', color);
            });

            el.addEventListener('click', function () {
                window.location.href = data.url;
            });
        }
    });
</script>
{% endblock %}

{% block content %}
<noscript><i>The GopherVR experience requires javascript!</i></noscript>
<div class="scene" >
  <a-scene embedded cursor="rayOrigin: mouse" raycaster="objects: .clickable">
    <a-camera look-controls wasd-controls position="0 1.6 -1"></a-camera>
    <a-entity laser-controls="left"></a-entity>
    <a-entity laser-controls="right"></a-entity>
    <a-assets>
      <a-asset-item id="dir-obj" src="/static/vr/dir.obj"></a-asset-item>
      <a-asset-item id="document-obj" src="/static/vr/document.obj"></a-asset-item>
      <a-asset-item id="kiosk-obj" src="/static/vr/kiosk.obj"></a-asset-item>
      <a-asset-item id="search-obj" src="/static/vr/search.obj"></a-asset-item>
      <a-asset-item id="sound-obj" src="/static/vr/sound.obj"></a-asset-item>
      <a-asset-item id="telnet-obj" src="/static/vr/telnet.obj"></a-asset-item>
    </a-assets>
    <a-plane position="-200 0 -200" rotation="-90 0 0" width="400" height="400" color="#292929"></a-plane>
    <a-plane position="200 0 -200" rotation="-90 0 0" width="400" height="400" color="#07290A"></a-plane>
    <a-plane position="-200 0 200" rotation="-90 0 0" width="400" height="400" color="#07290A"></a-plane>
    <a-plane position="200 0 200" rotation="-90 0 0" width="400" height="400" color="#292929"></a-plane>
    <a-sky color="#070B34"></a-sky>
    {% for icon in scene %}
       {{ icon | safe }}
    {% endfor %}
  </a-scene>
</div>
{% endblock %}
