body {
    margin: 1em;
    -webkit-text-size-adjust: 100%;
}
table.response-table {
    border: 1px solid black;
    min-width: 3em;
}
table.response-table th {
    border: 1px solid black;
    min-width: 3em;
}
.response-table td {
    border: 1px solid black;
    min-width: 3em;
    padding: 0.2em
}
div {
    margin-bottom: 0.6em;
}
img {
    max-width: 300px;
}
.link-line {
    font-size: smaller;
}
.logo {
    text-decoration: none;
    margin-right: 6px;
    font-size: 0.8em;
}
.url-form {
    display: flex;
    align-items: baseline;
}
.url-input {
    flex-grow: 1;
    max-width: 60ch;
}
.url-submit {
    margin-left: 4px;
}
.link-line a {
    text-decoration: none;
    padding-right: 0.4em;
}
.header {
    max-width: 120ch;
    margin-bottom: 1em;
}
.header-item {
    padding-right: 0.4em;
    text-decoration: underline;
}
.title {
    font-weight: bolder;
    color: #3f51b5;
    font-size: 1.2em;
    font-family: sans-serif;
    text-decoration: none;
    padding-right: 0.4em;
}
.body {
    max-width: 80ch;
}
.inline-image {
    cursor: zoom-in;
}
.inline-image.selected {
    max-width: 90vw;
    max-height: initial;
    cursor: zoom-out;
}
.protocol-grid {
    display: flex;
    flex-wrap: wrap;
}
.protocol-grid > div {
    width: 50%;
}
.gemini {
    margin-top: 1em;
    margin-bottom: 1em;
}
.gemini > * {
    margin: 0;
}
.gemini > p {
    white-space: pre-wrap;
}
.gemini span {
    font-size: smaller;
}
.gemini > pre {
    border: solid black 1px;
    padding: 5px;
    max-width: fit-content;
    overflow-x: scroll;
}
.gemini a {
    line-height: 1.5em;
}
.gemini > blockquote {
    white-space: pre-wrap;
    font-style: italic;
    border-left: 1px solid;
    padding-left: 10px;
}
.gemini > h1 {
    font-size: 1.5em;
}
.gemini > h2 {
    font-size: 1.25em;
}
.gemini > h3 {
    font-size: 1.1em;
}
.gemini > ul {
    padding-left: 1em;
}
.gemini > figure {
    margin-bottom: 1em;
}
.gemini > .input-line input {
    margin-left: 4px;
    vertical-align: text-bottom;
}
.gemini > .input-line textarea {
    margin-left: 4px;
    vertical-align: text-bottom;
}
.gopher {
    white-space: pre;
    font-family: monospace;
    border-spacing: 0;
}
.gopher table {
    border-collapse: collapse;
    border: 0 solid gray;
    overflow: auto;
    margin: auto;
}
.gopher tr.selectable:hover {
    background: lightgray;
}
.gopher td {
    padding-right: 1em;
    border: 0 solid gray;
}
.gopher td.type-description, td.mimetype {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 20em;
    font-size: smaller;
    vertical-align: middle;
}
.gopher span {
    font-size: smaller;
}
.gopher td.link-icon > img {
    height: 1em;
    vertical-align: bottom;
}
.gopher td.query-form {
    white-space: normal;
    padding-top: 5px;
}
.gopher td.query-form > form {
    display: inline-flex;
    margin-top: 5px;
    margin-bottom: 5px;
}
.gopher td.query-form > form > * {
    margin-right: 5px;
}
.gopher input::placeholder {
    white-space: pre;
    font-family: monospace;
}
.nex span {
    font-size: smaller;
}
