{% extends "proxy.html" %}
{% block content %}
<div class="content">
    <h2>Welcome, voyager!</h2>
    <p>To get started, type a <i>gemini://</i> URL into the address bar.</p>
    <h3>Quick links</h3>
    <ul>
        <li><a href="/gemini/gemini.circumlunar.space">Gemini Project Homepage</a></li>
        <li><a href="/gemini/kennedy.gemi.dev">Kennedy: Search Gemini Space</a></li>
        <li><a href="/gemini/warmedal.se/~antenna">Antenna Feed Aggregator</a></li>
        <li><a href="/gemini/station.martinrue.com">Station - Where Capsuleers Hang Out</a></li>
        <li><a href="/gemini/mozz.us">mozz.us (my own capsule)</a></li>
    </ul>
    <h3>Supported protocols</h3>
    <ul>
        <li><a href="/gemini/gemini.circumlunar.space/docs/"><i>gemini://</i></a></li>
        <li><a href="/spartan/spartan.mozz.us/"><i>spartan://</i></a></li>
        <li><a href="/text/txt.textprotocol.org/"><i>text://</i></a></li>
        <li><a href="/finger/mozz.us/michael"><i>finger://</i></a></li>
    </ul>
    <a href="https://en.wikipedia.org/wiki/Pillars_of_Creation">
        <img src="/static/pillars.jpg" alt="Pillars of Creation">
    </a>
</div>
{% endblock %}
