{% extends "base.html" %}

{% block favicon %}
{% if favicon %}
<link rel="icon" href="data:image/svg+xml,&lt;svg
xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100
100%22&gt;&lt;text y=%22.9em%22
font-size=%2290%22&gt;{{ favicon }}&lt;/text&gt;&lt;/svg&gt;">
{% else %}
<link rel="icon" href="/static/favicon.ico">
{% endif %}
{% endblock %}

{% block title %}
  {% if response %}{{ response.title_display }}{% else %}{{ super() }}{% endif %}
{% endblock %}

{% block body %}
{% include "url-bar.html" %}
<div class="link-line">
    {% if root_url %}<a href="{{ root_url }}">[root]</a>{% endif %}
    {% if parent_url %}<a href="{{ parent_url }}">[up]</a>{% endif %}
    {% if info_url %}<a href="{{ info_url }}">[gopher+]</a>{% endif %}
    {% if cert_url %}<a href="{{ cert_url }}">[tls]</a>{% endif %}
    {% if raw_url %}<a href="{{ raw_url }}">[raw&nbsp;file]</a>{% endif %}
</div>

<div class="content">
{% if response %}
{% set charset = (handler.charset if handler else "") or response.charset or "" %}
<details>
  <summary>Response:
    {% if response.status %}{{ response.status_display }}{% if response.mimetype %}, {% endif %}{% endif %}
    {% if response.mimetype %}{{ response.mimetype }}{% endif %}
  </summary>
  <table class="response-table">
    <tr><td>Original&nbsp;URL</td><td><a href="{{ response.url }}">{{ response.url.get_url()|truncate(60, True) }}</a></td></tr>
    {% if response.status %}<tr><td>Status Code</td><td>{{ response.status_display }}</td></tr>{% endif %}
    {% if response.mimetype %}<tr><td>Content-Type</td><td>{{ response.mimetype }}{% if charset %}; charset={{ charset.lower() }}{% endif %}{% if response.lang %}; lang={{ response.lang }}{% endif %}</td></tr>{% endif %}
  </table>
</details>
{% endif %}
{% block content %}{%- endblock %}
</div>
{% endblock %}
