{% extends "base.html" %}

{% block favicon %}
{% if favicon %}
<link rel="icon" href="data:image/svg+xml,&lt;svg
xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100
100%22&gt;&lt;text y=%22.9em%22
font-size=%2290%22&gt;{{ favicon }}&lt;/text&gt;&lt;/svg&gt;">
{% else %}
<link rel="icon" href="/static/favicon.ico">
{% endif %}
{% endblock %}

{% block body %}
{% include "fragments/url-bar.html" %}
<div class="link-line">
    {% if parent_url %}<a href="{{ parent_url }}">[parent&nbsp;dir]</a>{% endif %}
    {% if root_url %}<a href="{{ root_url }}">[root&nbsp;dir]</a>{% endif %}
    {% if inline_url %}<a href="{{ inline_url }}">[inline&nbsp;images]</a>{% endif %}
    {% if raw_url %}<a href="{{ raw_url }}">[raw&nbsp;response]</a>{% endif %}
    {% if cert_url %}<a href="{{ cert_url }}">[view&nbsp;cert]</a>{% endif %}
</div>
<div>
    <table class="response-table">
        <tr><td>Status</td><td>{{ status }}</td></tr>
        <tr><td>Meta</td><td>{{ meta }}</td></tr>
    </table>
</div>
{% block content %}{% endblock %}
{% endblock %}
